fastapi
uvicorn
pydantic
langchain
langchain-groq
langchain-community
langchain-text-splitters
python-multipart
PyPDF2
python-docx
beautifulsoup4
duckduckgo-search
chromadb
sentence-transformers
requests
